MobileReactNative/﻿node_modules/**/*
MobileReactNative/.idea
.idea/
.vs/

MobileReactNative/.expo
MobileReactNative/.expo-shared
MobileReactNative/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

.git
.idea
./vs
HelloWebApi/.idea
HelloWebApi/bin
HelloWebApi/obj
